# Entornos virtuales de Python
venv/
.venv/
__pycache__/
env/

# Base de datos local
# Esto asegura que el archivo .db no se suba al repositorio
database/
*.db
*.sqlite3

# Archivos de configuración de IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store
